ion-item ion-label {
  font-size: 18px; /* Cambiar tamaño */
  color: whitesmoke;  /* Cambiar color */
  transform: translateY(10px); /* Ajustar un poco la posición */
}

ion-button{
    transform: translateY(30px);
}